@media (max-width:768px) {
    .hide-mobile {
        display: none;
    }
}

:root {
    --transition: 0.3s;
    --grey-color: #888;
    --red-color: #f44336;
    --white-color: white;
    --blue-color: #0075ff;
    --green-color: #22c55e;
    --orange-color: #f59e0b;
    --blue-alt-color: #0d69d5;
}

/* Start dispaly */
.d-block {
    display: block;
}

/* End dispaly */
/* Start Grid */
.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

/* End Grid */
/* Start flex */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .flex-column-mobile {
        flex-direction: column;
    }
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.right-between {
    justify-content: right;
}

.direction-column {
    flex-direction: column;
}

.outline-none {
    outline: none;
}

.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.around-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* End flex */
/* Start padding + marrging */
.p-0 {
    padding: 0px;
}

.m-0 {
    margin: 0px;
}

.p-5 {
    padding: 5px;
}

.m-5 {
    margin: 5px;
}

.p-5 {
    padding: 5px;
}

.m-5 {
    margin: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.bt-5 {
    margin-bottom: 5px;
}

.bt-5 {
    padding-bottom: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.m-10 {
    margin: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

/* End padding + marrging */
/* Strat Border */
.rad-5 {
    border-radius: 5px;
}

.rad-10 {
    border-radius: 10px;
}

.border-solid {
    border: 1px solid #ccc;
}

.border-top-bottom {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


.border-bottom {
    border-bottom: 1px solid #eee;
}

.border-top {
    border-top: 1px solid #eee;
}


/* End Border */
/* Start Font */
.fw-bold {
    font-weight: bold;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.fw-500 {
    font-weight: 500;
}

.c-black {
    color: black;
}

.c-red {
    color: red;
}

.bg-red {
    background-color: var(--red-color);
}

.c-grey {
    color: #888;
}

.c-white {
    color: white;
}

.c-blue {
    color: var(--blue-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-overlay-blue {
    background-color: rgb(0 117 255 / 20%);
}

.c-orange {
    color: var(--orange-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-overlay-orange {
    background-color: rgb(245 158 11 / 20%);
}

.c-green {
    color: var(--green-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-overlay-green {
    background-color: rgb(34 197 94 / 20%);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-eee {
    background-color: #eee;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media (max-width:767px) {
    .text-center-mobile {
        text-align: center;
    }
}

.bg-white {
    background-color: white;
}

.w-fit {
    width: fit-content;
}

.w-full {
    width: 100%;
}

/* End Font */
/* Start Position */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* End Position */
/* start container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* End container */
/* Start Btn */

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    background-color: #0075ff;
    color: white;
}

.btn-grey {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
}

/* End Btn */
/* Start Box Module */
.box-module {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* End Box Module */